.number_input {
  padding: 0.25rem 0.5rem;
  color: hsl(var(--foreground));
  background: hsl(var(--foreground) / 0.1);
  border: 1px solid hsl(var(--foreground) / 0.3);
  text-align: center;
  border-radius: 4px;
  max-width: 4rem;
  font-family: Courier, monospace;
  font-weight: 700;
  font-size: 1.1rem;
}

.number_input::-webkit-outer-spin-button,
.number_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number_input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
