@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 200 20% 96%;
  --background: 221 28% 8%;
  --card-bg: 221 28% 17%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 200 20% 96%;
    --background: 221 28% 8%;
    --card-bg: 221 28% 17%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
