article > h2 {
  margin-top: 3rem;
  margin-bottom: 1em;
  font-size: 1.25rem;
  font-weight: 500;
}

article > h3 {
  margin-top: 1.625rem;
  margin-bottom: 1em;
  font-size: 1.125rem;
  font-weight: 500;
}

article > p,
article > ul,
article > ol,
article > blockquote {
  max-width: 65ch;
  margin-bottom: 1rem;
  line-height: 1.8;
}

article > blockquote {
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  border-radius: 0.25rem;
  background-color: hsla(var(--card-bg) / 30);
  margin: 2rem 0;
}

article > a,
article > p > a,
article > ol > li > a,
article > ul > li > a {
  text-decoration: underline;
}

article > ul > li {
  margin-left: 2rem;
  padding-left: 1rem;
  list-style: disc;
}
